@font-face {
	font-family: 'NeoSans-Regular';
    src: url('../fonts/neosans-webfont.eot');
    src: url('../fonts/neosans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neosans-webfont.woff2') format('woff2'),
         url('../fonts/neosans-webfont.woff') format('woff'),
         url('../fonts/neosans-webfont.ttf') format('truetype'),
         url('../fonts/neosans-webfont.svg#neosansregular') format('svg');
}

@font-face {
	font-family: 'NeoSans-Bold';
    src: url('../fonts/neosans-bold-webfont.eot');
    src: url('../fonts/neosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/neosans-bold-webfont.woff') format('woff'),
         url('../fonts/neosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/neosans-bold-webfont.svg#neosansboldregular') format('svg');
}

* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: border-box;
}

.notShown	{ display:	none; }
.clearfix	{ clear:	both; }
.pull-left	{ float:	left; }
.pull-right	{ float:	right; }
.wide		{ width:	100%; }
.tall		{ height:	100%; }

body {
    padding: 0;
    margin: 0;
    font-family: 'NeoSans-Regular';
}

.chevron {
	position: relative;
	padding: 0px;
	height: 8px;
	width: 2px;
	margin-left: 0px;
	margin-top: 2px;
	margin-right: 15px;
}

.chevron:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
	background: #ffffff;
	-webkit-transform: skew(35deg, 0deg);
	-moz-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	-o-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
}

.chevron:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	height: 50%;
	width: 100%;
	background: #ffffff;
	-webkit-transform: skew(-35deg, 0deg);
	-moz-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	-o-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
}

.arrow {
	width: 14px;
	height: 25px;
	background-image: url(../res/slideControls.png);
}

.mainContainer {
    width: 980px;
    margin: 0 auto;
    padding: 0 32px 28px 28px;
    background-color: rgb(239, 241, 241);
}

.headerContainer {
	width: 100%;
	position: relative;
}

.headerContainer .loginContainer {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 11px;
	font-smooth: never;
	-webkit-font-smoothing : none;
	letter-spacing: 0.038em;
	z-index: 10;
}

.headerContainer .loginContainer * {
	font-family: "Arial";
	font-weight: bold;
}

.loginContainer .loginBar {
	padding: 13px 13px 13px 29px;
	background-color: rgba(255, 255, 255, 0.5);
}

.loginContainer .loginBar a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.loginContainer .loginFormContainer {
	margin-top: 1px;
	padding: 29px 20px 29px 29px;
	background-color: #fff;
}

.loginContainer .loginFormContainer * {
	color: #ffffff;
}

.loginContainer .loginFormContainer .formField {
	background-color: #ccc;
	border: none;
	padding: 6px 6px;
	width: 157px;
	height: 25px;
	display: block;
}

.loginContainer .loginFormContainer .formField.email {
	margin-bottom: 5px;
}

.loginFormContainer .submitButton {
	background-color: #53b8c4;
	border: none;
	text-align: center;
	
	width: 61px;
	height: 55px;
	margin-left: 5px;
	position: relative;
	
	line-height: 55px;
	font-size: 16px;
	font-smooth: auto;
	-webkit-font-smoothing : antialiased;
}

.loginFormContainer .submitChevron {
	position: absolute;
	top: 23px;
	left: 13px;
}

.headerContainer .slideShowContainer {
	width: 100%;
	overflow: hidden;
}

.headerContainer .slideShow {
	width: 9999px;
	margin-left: -920px;
}

.headerContainer .slide {
	width: 920px;
	height: 447px;
	float: left;
	position: relative;
}

.headerContainer .slideInfo {
	position: absolute;
	left: 0;
	bottom: 91px;
	width: 281px;
	height: 90px;
	color: #fff;
}

.headerContainer .slideInfo .title {
	font-size: 65px;
	font-family: "NeoSans-Bold";
	line-height: 60px;
	margin-left: 22px;
}

.headerContainer .slideInfo .subTitle {
	font-size: 40px;
	margin-left: 180px;
	line-height: 40px;
}

.headerContainer .slideInfo .plusButton {
	width: 37px;
	height: 32px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #53b8c4;
	text-align: center;
	line-height: 34px;
	font-size: 30px;
}

.headerContainer .slideShowControlContainer {
	width: 100%;
	height: 41px;
	padding: 8px 26px;
	background-color: #53b8c4;
}

.headerContainer .slideShowControlContainer .slideControl {
	float: right;
	cursor: pointer;
}

.headerContainer .slideControl#prev .arrow {
	background-position: 0 0;
}

.headerContainer .slideControl#next .arrow {
	background-position: 17px 0;
	margin-left: 16px;
}

.mainTitle {
	margin: 58px 0 44px 0;
	text-align: center;
}

.mainTitle span {
	color: #53b8c4;
	font-size: 40px;
	letter-spacing: 0.014em;
}

.mainTitle span.hasBackground {
	background-color: rgb(10, 18, 26);
	padding: 8px 7px 6px 9px;
	-webkit-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
	border-bottom: 1px solid rgb(95, 99, 102);
}

.bigButtonContainer .row {
	margin-left: -10px;
	margin-right: -10px;
}

.bigButtonContainer .bigButtonWrapper {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 28px;
	float: left;
}

.bigButtonContainer .bigButtonWrapper .bigButton {
	width: 100%;
	background-color: #fff;
	cursor: pointer;
}

.bigButtonContainer .bigButton.active {
	-webkit-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.3);
}

.bigButtonContainer .bigButtonWrapper .btnNumber {
	color: #fff;
	background-color: #53b8c4;
	font-size: 48px;
	width: 115px;
	height: 112px;
	padding-top: 5px;
	text-align: center;
	line-height: 112px;
	float: left;
	letter-spacing: 0.014em;
}

.bigButtonContainer .bigButton.active .btnNumber {
	background-color: rgb(10, 18, 26);
}

.bigButtonContainer .bigButtonWrapper .info {
	padding: 25px 35px 0 23px;
	float: left;
	width: 335px;
	position: relative;
}

.bigButtonContainer .bigButtonWrapper .infoTitle {
	font-size: 40px;
	letter-spacing: 0.014em;
	color: #666;
}

.bigButtonContainer .bigButton.active .infoTitle {
	color: #53b8c4;
}

.bigButtonContainer .bigButtonWrapper .infoDescription {
	font-size: 12px;
	font-family: "Arial";
	font-weight: 100;
	letter-spacing: 0.014em;

	color: #999;
	margin: 0;
	line-height: 16px;
	margin-top: 2px;
}

.bigButtonContainer .bigButton .plusButton {
	color: #53b8c4;
	font-size: 40px;
	position: absolute;
	right: 13px;
	top: 25px;
}

.bigButtonContainer .bigButtonWrapper .bigButtonDetails {
	font-size: 12px;
	font-family: "Arial";
	letter-spacing: 0.014em;
	font-smooth: never;
	-webkit-font-smoothing: none;
	
	color: #000;
	padding: 28px 0 14px 138px;
	display: none;
}

.smallButtonContainer .smallButtonWrapper{
	width: 50%;
	padding: 11px 31px 31px 31px;
	float: left;
}

.smallButtonContainer .smallButton {
	width: 167px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid #53b8c4;
	cursor: pointer;
}

.smallButtonContainer .smallButton span {
	width: 125px;
	position: relative;
	top: 8px;

	display: block;
	float: left;
	color: #666;
	
	font-size: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.smallButtonContainer .smallButton .plusButton {
	width: 37px;
	height: 32px;
	float: right;

	background-color: #53b8c4;
	color: #fff;

	text-align: center;
	line-height: 34px;
	font-size: 30px;
}

.smallButtonContainer .smallButtonDetails {
	background-color: #53b8c4;
	color: #ffffff;

	width: 167px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 10px 50px 10px;
	display: none;
	position: relative;

	font-family: "Arial";
	font-size: 12px;
	font-smooth: never;
	-webkit-font-smoothing: none;

	-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.28);
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.28);
}

.smallButtonContainer .smallButtonDetails .arrow {
	display: block;
	background-position: 17px 0;
	position: absolute;
	bottom: 10px;
	right: 15px;
	cursor: pointer;
}

.smallButtonContainer .viewMoreRow {
	padding: 16px 0;
}

.smallButtonContainer .viewMoreWrapper {
	border-bottom: 1px solid #53b8c4;
	color: #53b8c4;
	text-align: center;

	width: 106px;
	margin: 0 auto;
}

.smallButtonContainer .viewMore {
	font-family: "Arial";
	font-size: 12px;
	cursor: pointer;
}

.contentSlideShow {
	width: 100%;
	margin-top: 35px;
	overflow: hidden;
}

.contentSlideShow .slideShow {
	width: 9999px;
	margin-left: -920px;
}

.contentSlideShow .slide {
	width: 920px;
	height: 100%;
	float: left;
	position: relative;
	background-size: 100% auto;
	background-color: #ffffff;
}

.contentSlideShow .slide:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 67px 67px 0 0;
	border-color: #53b9c4 transparent transparent transparent;
}

.contentSlideShow .slide:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0 0 158px 158px;
	border-color: transparent transparent #53b9c4 transparent;
}

.contentSlideShow .slide .readArticle {
	font-family: "Arial";
	font-size: 12px;
	position: absolute;
	right: 8px;
	bottom: 5px;
	color: #ffffff;
	z-index: 10;
}

.contentSlideShow .slide .readArticle .chevron {
	margin-right: 13px;
}

.contentSlideShow .slideInfo {
	padding: 24px 120px 25px 64px;
}

.contentSlideShow .slideInfo .title {
	font-size: 30px;
	color: #666666;
	margin-bottom: 15px;
}

.contentSlideShow .slideInfo .articleImage {
	width: 25%;
	display: block;
}

.contentSlideShow .slideInfo .articleText {
	width: 75%;
	font-family: "Arial";
	font-size: 12px;
	padding: 0 15px;
	color: #666666;
	font-smooth: never;
	-webkit-font-smoothing : none;
	letter-spacing: 0.014em;
	line-height: 15px;
}

.contentSlideShow .slideShowControlContainer {
	margin-top: 1px;
}

.contentSlideShow .slideControl {
	width: 49px;
	height: 41px;
	padding: 8px 17px;
	background-color: #53b8c4;
	float: left;
	margin-right: 2px;
	cursor: pointer;
}

.contentSlideShow .slideControl#prev .arrow {
	background-position: 0 0;
}

.contentSlideShow .slideControl#next .arrow {
	background-position: 17px 0;
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {

.hidden-desktop {
	display: none;
}

body {
	background-image: url("../res/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 245);
}

}

/* Mobile breakpoint */
@media screen and (max-width: 1023px) {

.hidden-mobile {
	display: none;
}

.mainContainer {
	width: 100%;
	padding: 0 20px 20px 20px;
}

.headerContainer {
	margin-bottom: 30px;
}

.headerContainer .loginContainer {
	position: static;
}

.loginContainer .loginBar {
	background-color: #53b8c4;
	padding: 17px;
}

.headerContainer .slideShowControlContainer .slideControl#prev {
	float: left;
}

.mainTitle {
	margin: 44px 0;
}

.headerContainer .slide {
	height: auto;
}

.headerContainer .slideInfo {
	bottom: 31px;
}

.bigButtonContainer .bigButtonWrapper {
	width: 100%;
	margin-bottom: 15px;
}

.bigButtonContainer .bigButtonWrapper .bigButton {
	width: 100%;
	position: relative;
}

.bigButtonContainer .bigButtonWrapper .info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 115px;
	padding: 25px 23px 0 23px;
	width: auto;
}

.smallButtonContainer .smallButtonWrapper {
	width: 50%;
	padding: 11px 31px 31px 31px;
	float: left;
}

.smallButtonContainer .pull-left {
	width: 100%;
}



























}